/* Base Colors
************************************************************** */
$c-light-blue: #bfd6ea;
$c-blue: #005baa;
$c-deepblue: #006ccb;
$c-endeavour: $c-blue;
$c-navy: #133e7a;
$c-white: #ffffff;
$c-beige: #e5eef6;
$c-blue-dark: #25214a;
$c-pink: #ef6c83;
$c-violet: #702693;
$c-rebecca-purple: #692d91;
$c-light-blue: #deefff;
$c-grey: #6d7278;
$c-rosy-pink: #ed6d84;
$c-warp-purple: #6f2c91;
$c-cornflower-blue: #5a6dc4;
$c-deeprose: #bc5266;
$c-brownish-grey: #5f5f5f;
$c-black: #2c2c2c;
$c-black-deep: #000000;
$c-silver: #c0c0c0;
$c-dusty-gray-2: #9b9b9b;
$c-dusty-gray: #979797;
$c-brownish-grey-opacity: rgba(95, 95, 95, 0.1);
$c-alto: #dbdbdb;
$c-tundora: #4a4a4a;
$c-gray: #757575;
$c-blue-grey: #8e9ed1;
$c-pattens-blue: #deefff;
$c-feijoa: #a1d078;
$c-silver-light: #c9c9c9;
$c-lynx-white: #f7f7f7;
$c-super-silver: #eeeeee;
$c-port-gore: #26214a;

// quiz progress-bar colors
$c-seagul: #78bee2;
$c-seagull: #7abfe2;
$c-cornflower: #92cbe8;

// quiz gradient color
$c-deep-cerulean: #007eb5;
$c-pacific-blue: #0091d0;
$c-promo-gray: #ceddea;
