/* Fonts
************************************************************** */

$font-size-base: 16;
$base-ff: "OneNightSans", sans-serif;
$OneNightSans-Extended-ff: "OneNightSans-Extended", sans-serif;
$GeezaPro-ff: "GeezaPro", sans-serif;
$OneNightSans-Black-ff: "OneNightSans-Black", sans-serif;
$OneNightSans-Thin-ff: "OneNightSans-Thin", sans-serif;
$icomoon-ff: "icomoon";
